<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FlightBoxExcelConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <FlightBoxExcelConverter.Properties.Settings>
            <setting name="DefaultImportFileName" serializeAs="String">
                <value>ARP.csv</value>
            </setting>
            <setting name="MemberListFileName" serializeAs="String">
                <value>MemberList.csv</value>
            </setting>
            <setting name="NoLdgTaxMembersFileName" serializeAs="String">
                <value>NoLdgTaxMembers.csv</value>
            </setting>
            <setting name="MemberNumberRemappingFileName" serializeAs="String">
                <value>MemberNumberRemapping.csv</value>
            </setting>
            <setting name="DefaultExportFolderName" serializeAs="String">
                <value>C:\temp\</value>
            </setting>
            <setting name="ProffixConnectionString" serializeAs="String">
                <value>Server=.\PDATA_SQLEXPRESS;Database=;User Id=sa;Password=2BeChanged!;</value>
            </setting>
            <setting name="ReadProffixDbData" serializeAs="String">
                <value>True</value>
            </setting>
        </FlightBoxExcelConverter.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>