<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightBoxExcelConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <FlightBoxExcelConverter.Properties.Settings>
            <setting name="DefaultImportFileName" serializeAs="String">
                <value>C:\Projects\FlightBoxExcelConverter\src\FlightBoxExcelConverter\data\ARP_LSZK_062018.csv</value>
            </setting>
            <setting name="DefaultExportFileName" serializeAs="String">
                <value>C:\Projects\FlightBoxExcelConverter\src\FlightBoxExcelConverter\data\Export.csv</value>
            </setting>
            <setting name="MemberListFileName" serializeAs="String">
                <value>C:\Projects\FlightBoxExcelConverter\src\FlightBoxExcelConverter\data\MemberList.csv</value>
            </setting>
            <setting name="NoLdgTaxMembersFileName" serializeAs="String">
                <value>C:\Projects\FlightBoxExcelConverter\src\FlightBoxExcelConverter\data\NoLdgTaxMembers.csv</value>
            </setting>
            <setting name="NoLdgTaxTypeTraffic" serializeAs="String">
                <value>C:\Projects\FlightBoxExcelConverter\src\FlightBoxExcelConverter\data\NoLdgTaxTypeTraffic.csv</value>
            </setting>
            <setting name="MemberNumberRemappingFileName" serializeAs="String">
                <value>C:\Projects\FlightBoxExcelConverter\src\FlightBoxExcelConverter\data\MemberNumberRemapping.csv</value>
            </setting>
        </FlightBoxExcelConverter.Properties.Settings>
    </applicationSettings>
</configuration>